###忽略测试文件word.txt###
word.txt


# Some test files:
IntegratedProgramming/SocketCommunication/ServerTest.c
IntegratedProgramming/SocketCommunication/ServerTest.exe
IntegratedProgramming/SocketCommunication/ClientTest.c
IntegratedProgramming/SocketCommunication/ClientTest.exe


# ignore examples of guguofu
IntegratedProgramming/ExamplesGGF/

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project 
.classpath

# temp ignore
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp

# system  ignore
.DS_Store
Thumbs.db

*.class

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

