###忽略测试文件word.txt###
word.txt


#Some test files:
IntegratedProgramming/SocketCommunication/ServerTest.c
IntegratedProgramming/SocketCommunication/ServerTest.exe
IntegratedProgramming/SocketCommunication/ClientTest.c
IntegratedProgramming/SocketCommunication/ClientTest.exe


#ignore examples of guguofu
IntegratedProgramming/ExamplesGGF/
