<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ujn.cait037.dao.Info_productMapper">
  <resultMap id="BaseResultMap" type="cn.edu.ujn.cait037.dao.Info_product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="productname" jdbcType="VARCHAR" property="productname" />
    <result column="productnum" jdbcType="INTEGER" property="productnum" />
    <result column="producttype" jdbcType="VARCHAR" property="producttype" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productname, productnum, producttype, remark, addtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  	<select id="findAllProduct" resultMap="BaseResultMap">
		select *
		from customer
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ujn.cait037.dao.Info_product">
    insert into info_product (id, productname, productnum, 
      producttype, remark, addtime
      )
    values (#{id,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{productnum,jdbcType=INTEGER}, 
      #{producttype,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ujn.cait037.dao.Info_product">
    insert into info_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productname != null">
        productname,
      </if>
      <if test="productnum != null">
        productnum,
      </if>
      <if test="producttype != null">
        producttype,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null">
        #{productnum,jdbcType=INTEGER},
      </if>
      <if test="producttype != null">
        #{producttype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ujn.cait037.dao.Info_product">
    update info_product
    <set>
      <if test="productname != null">
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null">
        productnum = #{productnum,jdbcType=INTEGER},
      </if>
      <if test="producttype != null">
        producttype = #{producttype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ujn.cait037.dao.Info_product">
    update info_product
    set productname = #{productname,jdbcType=VARCHAR},
      productnum = #{productnum,jdbcType=INTEGER},
      producttype = #{producttype,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>