<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ujn.cait037.dao.Course_infoMapper">
	<resultMap id="BaseResultMap"
		type="cn.edu.ujn.cait037.dao.Course_info">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="coursename" jdbcType="VARCHAR"
			property="coursename" />
		<result column="coursenum" jdbcType="INTEGER"
			property="coursenum" />
		<result column="coursehour" jdbcType="INTEGER"
			property="coursehour" />
		<result column="credit" jdbcType="INTEGER" property="credit" />
		<result column="examtype" jdbcType="VARCHAR"
			property="examtype" />
		<result column="addtime" jdbcType="TIMESTAMP"
			property="addtime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, coursename, coursenum, coursehour, credit, examtype, addtime
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from course_info
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select *
		from course_info
	</select>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from course_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="cn.edu.ujn.cait037.dao.Course_info">
		insert into course_info (id, coursename, coursenum,
		coursehour, credit, examtype,
		addtime)
		values (#{id,jdbcType=INTEGER}, #{coursename,jdbcType=VARCHAR},
		#{coursenum,jdbcType=INTEGER},
		#{coursehour,jdbcType=INTEGER}, #{credit,jdbcType=INTEGER}, #{examtype,jdbcType=VARCHAR},
		#{addtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.edu.ujn.cait037.dao.Course_info"
		useGeneratedKeys="true" keyProperty="id">
		insert into course_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="coursename != null">
				coursename,
			</if>
			<if test="coursenum != null">
				coursenum,
			</if>
			<if test="coursehour != null">
				coursehour,
			</if>
			<if test="credit != null">
				credit,
			</if>
			<if test="examtype != null">
				examtype,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="coursename != null">
				#{coursename,jdbcType=VARCHAR},
			</if>
			<if test="coursenum != null">
				#{coursenum,jdbcType=INTEGER},
			</if>
			<if test="coursehour != null">
				#{coursehour,jdbcType=INTEGER},
			</if>
			<if test="credit != null">
				#{credit,jdbcType=INTEGER},
			</if>
			<if test="examtype != null">
				#{examtype,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.edu.ujn.cait037.dao.Course_info">
		update course_info
		<set>
			<if test="coursename != null">
				coursename = #{coursename,jdbcType=VARCHAR},
			</if>
			<if test="coursenum != null">
				coursenum = #{coursenum,jdbcType=INTEGER},
			</if>
			<if test="coursehour != null">
				coursehour = #{coursehour,jdbcType=INTEGER},
			</if>
			<if test="credit != null">
				credit = #{credit,jdbcType=INTEGER},
			</if>
			<if test="examtype != null">
				examtype = #{examtype,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				addtime = #{addtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.edu.ujn.cait037.dao.Course_info">
		update course_info
		set coursename = #{coursename,jdbcType=VARCHAR},
		coursenum = #{coursenum,jdbcType=INTEGER},
		coursehour = #{coursehour,jdbcType=INTEGER},
		credit = #{credit,jdbcType=INTEGER},
		examtype = #{examtype,jdbcType=VARCHAR},
		addtime = #{addtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>