<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ujn.ch8.dao.CustomerMapper">
	<resultMap id="BaseResultMap"
		type="cn.edu.ujn.ch8.dao.Customer">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="jobs" jdbcType="VARCHAR" property="jobs" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
	</resultMap>

	<sql id="Base_Column_List">
		id, username, jobs, phone
	</sql>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from customer
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findByNameAndJobs"
		parameterType="cn.edu.ujn.ch8.dao.Customer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from customer
		where 1=1
		<if test="username!=null and username!=''">
			and username like concat('%',#{username},'%')
		</if>
		<if test="jobs!=null and jobs!=''">
			and jobs=#{jobs}
		</if>
	</select>

	<select id="findByNameOrJobs"
		parameterType="cn.edu.ujn.ch8.dao.Customer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from customer
		where 1=1
		<choose>
			<when test="username!=null and username!=''">
				and username like concat('%',#{username},'%')
			</when>
			<when test="jobs!=null and jobs!=''">
				and jobs=#{jobs}
			</when>
			<otherwise>
				and phone is not null
			</otherwise>
		</choose>
	</select>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from customer
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="cn.edu.ujn.ch8.dao.Customer">
		insert into customer (id,
		username, jobs,
		phone)
		values (#{id,jdbcType=INTEGER},
		#{username,jdbcType=VARCHAR},
		#{jobs,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective"
		parameterType="cn.edu.ujn.ch8.dao.Customer" useGeneratedKeys="true"
		keyProperty="id">
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="jobs != null">
				jobs,
			</if>
			<if test="phone != null">
				phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="jobs != null">
				#{jobs,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="cn.edu.ujn.ch8.dao.Customer">
		update customer
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="jobs != null">
				jobs = #{jobs,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="cn.edu.ujn.ch8.dao.Customer">
		update customer
		set username =
		#{username,jdbcType=VARCHAR},
		jobs = #{jobs,jdbcType=VARCHAR},
		phone =
		#{phone,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findByIds" parameterType="List"
		resultMap="BaseResultMap">
		selsct * from customer where id in
		<foreach collection="list" item="id" index="index" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</select>
</mapper>